.nav-menu {
  margin: 0 auto;
  /* padding-top: ; */
  padding: 0 70px;
  max-width: 1280px;
  height: 74px;
  box-sizing: border-box;
  /* width: calc(100% - 130px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
}

.nav-menu__logo {
  margin: 0 auto 0 0;
  display: block;
  width: 38px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-menu__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 265px;
  margin-right: 10px;
}

.nav-menu__account {
  color: #000;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #F9F9F9;
  border-radius: 20px;
}

.nav-menu__element {
  padding: 0;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.nav-menu__element:last-of-type {
  padding: 0 20px 0 20px;
}

.nav-menu__burger {
  background-color: #000;
  display: none;
  border: none;
  width: 28px;
  height: 3px;
  position: relative;
  top: -4px;
  right: 23px;
  cursor: pointer;
}

.nav-menu__burger::before {
  top: -10px;
  right: 0;
}

.nav-menu__burger::after {
  top: 10px;
  right: 0;
}

.nav-menu__burger::before,
.nav-menu__burger::after {
  background-color: #000;
  display: none;
  content: '';
  width: 28px;
  height: 3px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-menu__container {
    display: none;
  }

  .nav-menu__logo {
    margin-left: 30px;
  }

  .nav-menu__account {
    display: none;
  }

  .nav-menu__burger,
  .nav-menu__burger::before,
  .nav-menu__burger::after {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .nav-menu {
    margin: 0;
    padding: 15px 15px 16px;
  }

  .nav-menu__burger {
    top: 0;
    right: 15px;
  }

  .nav-menu__burger,
  .nav-menu__burger::before,
  .nav-menu__burger::after {
    width: 22px;
  }

  .nav-menu__logo {
    margin-left: 10px;
  }
}
