.entry-form {
  padding: 70px 0;
  margin: 0 auto;
  width: 396px;
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
}

.entry-form__logo {
  padding-right: 22em;
}

.entry-form__header {
  margin: 0 auto 0 0;
  padding: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.entry-form__confirm-container {
  min-height: 266px;
}

.entry-form__button {
  margin-top: 80px;
  width: 396px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
}

.entry-form__caption-container {
  margin: 0 auto;
  padding-top: 5px;
  color: #a0a0a0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.entry-form__text {
  padding-left: 6px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .entry-form__button {
    margin-top: 85px;
  }
}

@media screen and (max-width: 440px) {
  .entry-form {
    padding: 56px 0 0 15px;
    width: 280px;
  }

  .entry-form__logo {
    padding-right: 0;
  }

  .entry-form__header {
    padding: 50px 0 70px;
    margin: 0;
  }

  .entry-form__button {
    margin-top: 0;
    width: 260px;
    font-size: 12px;
    line-height: 15px;
  }

  .entry-form__caption-container {
    font-size: 12px;
    line-height: 15px;
  }

  .entry-form__confirm-container {
    min-height: 105px;
  }

}