.saved-movies {
  margin: 0 auto;
  width: calc(100% - 140px);
}

.saved-movies__table {
  margin: 0;
  padding: 70px 0 160px;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-auto-rows: 271px;
  grid-gap: 24px;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 1160px) {
  .saved-movies {
    width: 100%;
  }

  .saved-movies__table {
    grid-template-columns: repeat(auto-fill, 339px);
    grid-auto-rows: 258px;
    grid-gap: 36px 30px;
    padding-top: 80px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .saved-movies__table {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 236px;
    grid-gap: 16px;
    padding-top: 40px;
    padding-left: 0;
  }
}